{{template "header" .}}
<div class="main" class="fonty">
	<div class="fr">
		{{ if .SignedIn}}<a href='/{{.Domain}}/{{.RandomUUID}}' class='fr'>Write</a><br>{{end}}
		Log <a onclick="document.getElementById('id01').style.display='block'">in</a>
		{{ if gt (len .DomainList) 1 }}
		 / <a href="/logout?d={{.Domain}}">out</a>
		{{ end }}
	</div>

	{{with .Message}}
	<p style="color:red;"><em>{{.}}</em></p>
	{{end}}

	<h1>{{.Domain}}{{if .DomainIsPrivate}} (private){{end}}</h1>

	{{if .DomainExists}}

		{{ if gt (len .DomainList) 1 }}
			<p>
				Your domains: 
				{{ range $index, $element := .DomainList}}{{if $index}}, {{end}}<a href="/{{$element}}">{{$element}}</a>{{end}}
			</p>
		{{ end }}

		{{ if and (.SignedIn) (ne .Domain "public")}}
		<details>
			<summary>Options</summary>
			<form action="/update" method="post">
				<input type="checkbox" name="ispublic" {{if not .DomainIsPrivate}} checked{{end}}> Make <strong>{{ .Domain}}</strong> public <small>(your
					posts appear on public page and are searchable)</small><br>
				<input type="password" name="password" value="" placeholder="Update password">
				<input type="text" name="domain_key" value="{{.DomainKey}}" style="display:none;">
				<input type="text" name="domain" value="{{.Domain}}" style="display:none;">
				<input class="button1" type="submit" value="Submit">
			</form>
			<a href="/{{.Domain}}/export" target="_blank">Download data</a>.
		</details>
		{{ end}}

		{{ if and (or (not .DomainIsPrivate) (.SignedIn)) (or (ne .Domain "public") (.PrivateEnvironment)) }}
			<p>
				<form action="/{{.Domain}}" method="get">
					<input type="text" name="q" value="" size="35" placeholder="Search domain...">
					<input class="button1" type="submit" value="Search">
				</form>
			</p>
			{{ if .Files }}
			<ul style="list-style: none; padding-left:0;list-style-type: none;">
				{{range .Files}}
				<li>
					<small class="grey">
						{{ if $.RWTxtConfig.OrderByCreated}}
							{{.Created.Format "Jan 02 2006 15:04pm"}}
						{{else}}
							{{.Modified.Format "Jan 02 2006 15:04pm"}}
						{{end}}
					</small>
					&nbsp;
					<a href="/{{$.Domain}}/{{if eq (len .Slug) 0}}{{.ID}}{{else}}{{.Slug}}{{end}}">
						{{if eq (len .Slug) 0}}{{.ID}}{{else}}{{replace .Slug "-" " "}}{{end}}
					</a>
				</li>
				{{end}}
			</ul>
			{{end}}
		{{else}}
			Nothing to see here.
		{{end}}



		{{else}}
		This domain does not yet exist.
		{{end}}




	{{ if .ShowCookieMessage}}
	<small>
		<p>This site uses <a href="https://en.wikipedia.org/wiki/HTTP_cookie">cookies</a>. By using this site you agree to
			the use of cookies.</p>
	</small>
	{{ end }}
</div>

<div id="id01" class="modal">

	<form class="modal-content animate" action="/login" method="post">
		<div class="imgcontainer">
			<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
		</div>

		<div class="container">
			<input class="login" type="text" placeholder="Enter Domain" name="domain"
			 {{ if and (not .SignedIn) (ne .Domain "public") }} {{.DomainValue}} {{end}} required>
			<input class="login" type="password" placeholder="Enter Password" name="password" required>
			<button type="submit">Login</button>
		</div>
	</form>
</div>

<script>
	// Get the modal
	var modal = document.getElementById('id01');

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function (event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
</script>


<!-- <script src="/static/js/quicklink.umd.js"></script>
<script>
	quicklink({ 
		priority: true,
		ignores: [
			uri => uri.includes('{{.RandomUUID}}'),
			uri => uri.includes('login'),
			uri => uri.includes('logout'),
			{{ range .DomainList }}
			uri => uri.endsWith('/{{.}}'),
			{{end}}
			(uri, elem) => elem.hasAttribute('noprefetch')
		]
	});
</script> -->
{{template "footer" .}}